@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: 'Montserrat', sans-serif;
}

header {
    background-color: rgb(255, 255, 0);
}

header h1 {
    color: rgb(102, 37, 37);
}

.logo {
    padding: 1rem;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header h1 {
    padding: 0.625rem;
}

main {
    background-image: url("../img/adopt-me.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    gap: 7rem;
    flex-wrap: wrap;
}

.form, .resultado {
    background-color: rgba(59, 21, 21, 0.63);
    margin-top: 10rem;
    padding: 2rem;
    border-radius: 1rem 0;
    color: white;
    width: 34.326875rem;
    margin-bottom: clamp(50px, 25vw, 100px);
}

section h2 {
    text-align: center;
    margin-bottom: 1rem;
}

form {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;    
}

 label {
    font-size: 1.2rem;
} 

/* ---------- INPUTS ---------- */


input[type='text'], input[type='number'] {
    height: 2rem;
    width: 20rem;
    margin: 0.7rem;
    border: 1px solid black;
    border-radius: 0.5rem;
  }

input[type='radio']{
      margin: 0.5rem;
  }

input[type='button'], input[type='reset'] {
    width: 9rem;
    height: 3rem;
    font-size: 1rem;
    padding: 0.4rem;
    border:0;
    font-weight: bold;
    margin-top:1rem;
}

input[type='button'] {
    background-color: yellow;
    color: black;
    margin: 0.95rem;
}

input[type='reset'] {
    background-color: red;
    color: white;
}

input[type='button']:hover {
    background-color: rgb(165, 165, 7);
    transform: scale(1.2);
} 

input[type='reset']:hover{
    background-color: rgb(124, 6, 6);
    transform: scale(1.2);
}

input:focus {
    background-color: yellow;
}

/* ---------- cards ---------- */

.foto-pessoa {
    border-radius: 2rem;
    width: 80%;
}

.centro {
    text-align: center;
    margin-top: 1.5rem;
}
.nome {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
    color:BLACK;
    font-size: 1.5rem;
}
.dados {
    line-height: 2rem;
    font-size: 1.2rem;
    color: black;
}

.imagem {
    margin: 1.2rem;
    text-align: center;
}

.fundo {
    background-color: rgba(255, 255, 255, 0.739);
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 1rem;
}

#termo {
    font-style: italic;
}

/* ---------- FOOTER ---------- */

footer {
    background-color: black;
}

footer p {
    color: white;
    text-align: center;
    padding: 0.625rem;
}

footer a {
    text-decoration: none;
    color: purple;
}


@media (min-width:280px) and (max-width:653px) {
    header h1 {
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }

    section h2 {
        font-size: 1rem;
    }

    label, #termos, .dados {
        font-size: 0.7rem;
    }
   
    .form, .resultado{
        width: 85vw;
        margin: 3rem;
    }

    .resultado {
        margin-top: -7rem;
    }

    input[type="text"],input[type="number"]{
        width: 12rem;
    }

    .nome {
        font-size: 1rem;
    }

}


@media (min-width:320px) and (max-width:568px) {
    header h1 {
        font-size: 1.5rem;
        margin-top: 0.4rem;
    }

    section h2 {
        font-size: 1.2rem;
    }

    label, #termos, .dados {
        font-size: 0.8rem;
    }

    .form, .resultado{
        width: 85vw;
        margin: 3rem;
    }

    .resultado {
        margin-top: -7rem;
    }


    input[type="text"],input[type="number"]{
        width: 14rem;
    }
    
    footer {
        font-size: 0.6rem;
    }
}

@media (min-width:360px) and (max-width:800px) {
    .form, .resultado{
        width: 85vw;
        margin: 3rem;
    }

    .resultado {
        margin-top: -7rem;
    }

    input[type="text"],input[type="number"]{
        width: 18rem;
    }

}

@media (min-width:1024px) and (max-width:1366px) {
    .form, .resultado{
        width: 85vw;
        margin: 3rem;
    }

    .resultado {
        margin-top: -7rem;
    }

    input[type="text"],input[type="number"]{
        width: 38rem;
    }
}